    .home-area {
    width: 100%;
    height: max-content;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    h1{
        font-size: 5rem;
        font-weight: bolder;
        cursor: pointer;
        &:hover{
            color: grey;
        }
    }
    p{
        width: 60%;
        font-size: 2rem;
        font-weight: bold;
        &:hover{
            color: grey;
            font-weight: bold;
        }
    }
}